.contact{
    background-color: rgba(0, 159, 227, 0.115);
}
.fa-brands{
    padding: 0 10px;
}
h1{
    color: #1b8596;
}
hr{
    width: 150px;
    height: 3px;
    color: #1b8596;
}
.social i{
    color: #1b8596;
}
a{
    cursor: pointer;
}